/* Custom styles for the festival app */

/* Dark purple header for time slots */
.sticky-time-header {
    position: sticky;
    top: 0;
    background-color: #614598; /* Very dark purple */
    color: white;
    padding: 0.75rem 1rem;
    font-weight: 800;
    border-top: 1px solid #4c1d95;
    border-bottom: 1px solid #4c1d95;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    z-index: 10;
}